.lead {
    max-width: 984px;
    margin: 0 auto;
    padding-bottom: 92px;
    padding-top: 56px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        padding: 0 0 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
}