.footer__list-row {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .footer__list-row {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}