.content {
    grid-area: content;
    padding-left: 48px;
    padding-right: 48px;
}

@media screen and (max-width: 1024px) {
    .content {
        padding-right: 0;
        padding-left: 0; 
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 48px 0 0;
    }
}