.header__lang-link-active {
    font-size: 24px;
    line-height: 28px;
}

@media screen and (max-width: 320px) {
    .header__lang-link-active {
        max-width: 22px;
        font-size: 18px;
        line-height: 20px;
    }
}
