.cover {
    color: #FFFFFF;
    font-family: 'Inter', Arial, sans-serif;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .cover {
        padding-top: 66px;
    }
}