.place__url-heading {
    color: #aaa;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
}

@media screen and (max-width: 320px) {
    .place__url-heading {
        font-size: 12px;
        line-height: 12px;
    }
}